.account {
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #007bff;
}

.editButtons{

    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    button {
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 1rem;
        color: #fff;
        background-color: #007bff;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #f00;
        }
    }
}
#changeImage{

    cursor: pointer;
    display: inline-block;
    position: relative;

    width:150px;
    height:150px;
    border-radius: 50%;


    overflow: hidden;
    .avatar {
        transition: opacity 0.3s ease;
    }

    span {
        width: 100%;

        position: absolute;
        text-align: center;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0.6);
        color: #fff;
        padding: 0.5rem 0  2rem 0;
        border-radius: 4px;
        font-size: 0.875rem;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    &:hover .avatar {
        opacity: 0.7;
    }

    &:hover span {
        opacity: 1;
    }
}

#userDisplayMain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
}

.userDetails {
    flex: 1;
    margin-right: 2rem;


    p {
        font-size: 1.1rem;
        margin-bottom: 0.5rem;
    }
}





.glistening-text {
  font-weight: bold;
  font-size: 1.2rem;
  background: linear-gradient(40deg, #ffffff 0%, #f1de9f 1%, #c09d29 50%, #f1de9f 99%, #fff222 100%);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: 10.1s ease 1ms infinite normal none running shimmer;
  animation-delay: 2s;


}

@keyframes shimmer {
  0%   { background-position: 200% 0; }
  100% { background-position: -200% 0; }
}