.game{
    padding: 2rem;
    margin: 1% 0 1% 1%;
    background-color: white;
    border-radius: 20px;
}
.game .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.game .bottom{
    margin-top: 2%;

}

.game-title{
    font-size: 2em;
    font-weight: bold;
    color: #555;
}
.game-description{
    padding: 5%;
    font-size: 1.2em;
    color: lightgray;
    background-color: dimgray;
    border-radius: 10px;
}
.game-categories-holder, .game-consoles-holder{
    list-style-type: none;
    padding: 0;
    margin: 1% 0 0 0;
    display: flex;
    gap: 1%;
}
.game-categories-holder li, .game-consoles-holder li{
    background-color: #eee;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 0.9em;
    color: #333;
    border-radius: 12px;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0;
    padding: 2rem;
}
.pagination a{
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    cursor: pointer;
    background-color: #ccc;
}
.pagination a.active{
    background-color: #667eea;
    color: white;
    font-weight: bold;
}

.game-top{
    display: flex;
    flex-direction: row;
}
.game .top-right{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.game .top-left{
    flex: 1;
}
.game-image{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
    margin-right: 2%;
}
.image-carousel{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-holder{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.image-holder .carousel-buttons{
    border-radius: 100%;
    width: 30px;
    height: 30px;
    

}

.pagination-dot.active{
    font-weight: bold;
}
.image-pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
}



@media screen and (max-width: 768px) {
    .games-holder {
        width: 100%;
        margin-bottom: 20px;

    }
    .game{
        width: 90%;
        margin: 1rem 1%;
    }
    .game-top{
        flex-direction: column;
    }
    .game-categories-holder, .game-consoles-holder{
        
        li:nth-child(n + 4) {
            display: none;
        }
    }

    .game-description{
        font-size: 1em;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;

        margin:0;
    }

    .top-right{
        margin: 1rem 0;
        width:100%;

        .image-carousel{
            width: 100%;
            height:fit-content;
        }
        .image-pagination{
            margin: 0px;
            position: relative;
            top: -20px;
            background-color: rgba($color: #333, $alpha: 0.8);
            padding: 5px 10px;
            border-radius: 10px;
            color:#eee;
            
            font-size: 1.4em;
        }
        .image-holder{
            width: 100%;
            justify-content: center;

            .game-image{
                width: 90%;
                height: auto;
                margin-right: 0;
                border-radius: 10px;
            }
        }
        .carousel-buttons{
            font-size: 1.5rem;
            background-color: rgba($color: #333, $alpha: 0.8);
            color:#eee;
            border:none;



            padding: 45% 3%;
            border-radius: 0;
            
            display: block;
            position: relative;
        }
        .carousel-buttons.prev{
            left: 30px;
            border-radius: 10px 0 0 10px;
        }
        .carousel-buttons.next{
            right: 30px;
            margin:0px;
            border-radius: 0 10px 10px 0;
        }

    }


}