.game{
    padding: 2rem;
    margin: 1% 0 1% 1%;
    background-color: white;
    border-radius: 20px;
}
.game .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.game .bottom{
    margin-top: 2%;

}

.game-title{
    font-size: 2em;
    font-weight: bold;
    color: #555;
}
.game-description{
    padding: 5%;
    font-size: 1.2em;
    color: lightgray;
    background-color: dimgray;
    border-radius: 10px;
}
.game-categories-holder, .game-consoles-holder{
    list-style-type: none;
    padding: 0;
    margin: 1% 0 0 0;
    display: flex;
    gap: 1%;
}
.game-categories-holder li, .game-consoles-holder li{
    background-color: #eee;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 0.9em;
    color: #333;
    border-radius: 12px;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0;
    padding: 2rem;
}
.pagination a{
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    cursor: pointer;
    background-color: #ccc;
}
.pagination a.active{
    background-color: #667eea;
    color: white;
    font-weight: bold;
}