


@media screen and (max-width: 768px) {
  body {
    font-size: 16px;
    line-height: 1.5;
    padding: 10px;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
  }

  .games-holder {
    width: 100%;
    margin-bottom: 20px;
  }

  .game{
    max-width: 99%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto 1%;
  }
    
}