
nav{

    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}
nav ul li a:hover {
    background-color: #575757;
    border-radius: 4px;
}
nav .logo {
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav .logo:hover {
    text-decoration: underline;
}

.mobile-toggle {
    display: none;
}

@media screen and (max-width: 768px) {
    .navbar {
        width: 100%;
        margin: 0 0 1rem 0;
        border-radius: 0 0 10px 10px;
        position:sticky;
        top: 0;
    }
    nav {
        flex-direction: column;
        align-items: flex-start;

        ul {
            flex-direction: column;
            width: 100%;

            li {
            margin: 10px 0;
                a{
                    padding: 10px 15px;
                }
            }
        }
    }

    .collapsed ul {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: max-height 0.3s ease-in, opacity 0.2s ease;
    }

    .expanded ul {
        max-height: 500px; /* must be larger than content height */
        opacity: 1;
        transition: max-height 0.3s ease, opacity 0.2s ease;
    }

    .mobile-toggle {
        display: block;
        color: white;
        font-size: 1.5em;
        cursor: pointer;
        align-self: flex-end;
        margin: 10px;
    }

    

}