
nav{

    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}
nav ul li a:hover {
    background-color: #575757;
    border-radius: 4px;
}
nav .logo {
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav .logo:hover {
    text-decoration: underline;
}


@media screen and (max-width: 768px) {
    .navbar {
        width:99%;
        margin: auto;
        border-radius:  0 0 10px 10px;
    }
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav ul li {
        margin: 10px 0;
    }
}