---
import Layout from "../layouts/Layout.astro";
import GameList from "../Components/listing/itemComponent";
import "../styles/games.scss";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Games</title>
  </head>
  
  
  <Layout>
    <h1 class="GamesPage-title">Games Page</h1>
    <div class="GamesHolder">
      <GameList client:load/>
    </div>
  </Layout>
  
</html>

<style>
  .GamesHolder {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 20px;
  }

  .body{
    width: 90%;
    margin: auto;
  }

  </style>