---
import Layout from "../Layouts/Layout.astro";
import GameList from "../Components/listing/itemComponent";
import "../styles/games.scss";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Games</title>
  </head>
  
  <body>
    <Layout>
      <h1>Games Page</h1>
      <GameList client:load/>
    </Layout>
  </body>
</html>