---
import Layout from "../layouts/Layout.astro";

const { id } = Astro.params;
const game = await fetch(`/api/games/${id}`).then(r => r.json());
---

<head>
    <title></title>    

</head>

<Layout>
  <h1></h1>
</Layout>